Repository bcgov/sbc-auth: changes, and which Codecov flags are due for each by the changed paths.
All: authapi, authweb, statusapi, notifyapi, notifyqueue

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: off
      authapi:
        target: 85%
        flags:
          - authapi
      authweb:
        target: 50%
        flags:
          - authweb
      statusapi:
        target: 85%
        flags:
          - statusapi
      notifyapi:
        target: 85%
        flags:
          - notifyapi
      notifyqueue:
        target: 85%
        flags:
          - notifyqueue
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches:
    - "development"
flags:
  authapi:
    paths:
      - auth-api/src/auth_api
    carryforward: true
  authweb:
    paths:
      - auth-web/src
    carryforward: true
  statusapi:
    paths:
      - status-api/src/status_api
    carryforward: true
  notifyapi:
    paths:
      - notify-api/src/notify-api
    carryforward: true
  notifyqueue:
    paths:
      - queue_services/notify-queue/src
    carryforward: true

wrong vars fixed
  auth-web/src/components/auth/InviteUsersForm.vue
Due: authweb

wrong vars fixed (#716)
  auth-web/src/components/auth/InviteUsersForm.vue
Due: authweb

Added missing github actions configuration changes.
  .github/workflows/notify-api&queue-dev.yml
  .github/workflows/notify-api&queue-test.yml
  notify-api/Dockerfile
Due: none

pr comments included
  auth-web/src/store/modules/business.ts
Due: authweb

Update Manage Business page - Feature flag and Remaining fixes (#712)
  auth-web/src/components/auth/AddBusinessForm.vue
  auth-web/src/components/auth/AddNameRequestForm.vue
  auth-web/src/components/auth/EntityManagement.vue
  auth-web/src/models/business.ts
  auth-web/src/services/business.services.ts
  auth-web/src/store/modules/business.ts
Due: authweb

added org type to user settings ; Changed url of create account (#715)
  auth-api/src/auth_api/models/user_settings.py
  auth-api/src/auth_api/schemas/schemas/user_settings_response.json
  auth-api/src/auth_api/schemas/user_settings.py
  auth-api/src/auth_api/services/user_settings.py
  auth-api/tests/unit/api/test_user_settings.py
  auth-web/src/store/modules/org.ts
Due: authapi, authweb

help dialog to shared component
  auth-web/src/components/auth/AddBusinessForm.vue
  auth-web/src/components/auth/AddNameRequestForm.vue
  auth-web/src/components/auth/HelpDialog.vue
  auth-web/src/util/common-util.ts
Due: authweb

merge correction
  auth-web/src/components/auth/AddBusinessForm.vue
Due: authweb

Commenting issue with corpType for system token
  auth-api/src/auth_api/services/authorization.py
Due: authapi

Commenting issue with corpType for system token (#720)
  auth-api/src/auth_api/services/authorization.py
Due: authapi

Fixed up the labels
  auth-api/email_templates/dirsearch_business_invitation_email.html
  auth-api/migrations/versions/3939342073ea_create_names_request_corp.py
  auth-api/migrations/versions/437ce1f93861_changing_the_roles.py
  auth-api/migrations/versions/bab2eefb9412_adding_new_business_corp_type.py
  auth-api/src/auth_api/models/membership_type.py
Due: authapi

fixed escaping
  auth-api/migrations/versions/437ce1f93861_changing_the_roles.py
Due: none

Fixed up the labels and migration scripts (#721)
  auth-api/email_templates/dirsearch_business_invitation_email.html
  auth-api/migrations/versions/3939342073ea_create_names_request_corp.py
  auth-api/migrations/versions/437ce1f93861_changing_the_roles.py
  auth-api/migrations/versions/bab2eefb9412_adding_new_business_corp_type.py
  auth-api/src/auth_api/models/membership_type.py
Due: authapi

updated package.json
  auth-web/package-lock.json
  auth-web/package.json
Due: none

fix for https://github.com/bcgov/entity/issues/3708 User was not able to see list of members;fixed it
  auth-web/src/components/auth/MemberDataTable.vue
  auth-web/src/components/auth/TeamManagement.vue
Due: authweb

Fixing the tests
  auth-web/tests/unit/components/InviteUsersForm.spec.ts
Due: none

display order added
  auth-api/migrations/versions/437ce1f93861_changing_the_roles.py
  auth-web/src/models/Organization.ts
  auth-web/src/store/modules/user.ts
Due: authweb

[entity3194] UI Updates to User Role Menus
  auth-web/src/assets/scss/base.scss
  auth-web/src/assets/scss/overrides.scss
  auth-web/src/components/auth/InviteUsersForm.vue
  auth-web/src/components/auth/MemberDataTable.vue
  auth-web/src/views/auth/AccountSettings.vue
Due: authweb

Entity3194 (#723)
  auth-web/src/assets/scss/base.scss
  auth-web/src/assets/scss/overrides.scss
  auth-web/src/components/auth/InviteUsersForm.vue
  auth-web/src/components/auth/MemberDataTable.vue
  auth-web/src/views/auth/AccountSettings.vue
Due: authweb

BCSC Layout Complete
  auth-web/src/assets/img/BCSC-Helper.png
  auth-web/src/components/auth/BCSCPanel.vue
  auth-web/src/components/auth/TestimonialQuotes.vue
  auth-web/src/views/auth/HomeViewDev.vue
Due: authweb

Wrapped up BCSC panel
  auth-web/src/assets/img/bc-launch-hero-img-min.jpg
  auth-web/src/assets/img/fpo-hero-image-1076-536.png
  auth-web/src/assets/img/fpo-hero-image-1600x500.png
  auth-web/src/components/auth/BCSCPanel.vue
  auth-web/src/components/auth/TestimonialQuotes.vue
  auth-web/src/views/auth/HomeViewDev.vue
Due: authweb

Style Updates
  auth-web/src/components/auth/BCSCPanel.vue
  auth-web/src/views/auth/DecideBusinessView.vue
  auth-web/src/views/auth/IncorpOrRegisterView.vue
  auth-web/src/views/auth/MaintainBusinessView.vue
  auth-web/src/views/auth/RequestNameView.vue
Due: authweb

Updated Dependencies
  auth-web/package.json
Due: none

PR comments
  auth-api/migrations/versions/437ce1f93861_changing_the_roles.py
  auth-api/src/auth_api/models/membership_type.py
  auth-api/src/auth_api/schemas/membership_type.py
  auth-api/tests/unit/services/test_authorization.py
  auth-web/src/components/auth/MemberDataTable.vue
Due: authapi, authweb

couple of misc bug fixes related to role changes (#722)
  auth-api/migrations/versions/437ce1f93861_changing_the_roles.py
  auth-api/src/auth_api/models/membership_type.py
  auth-api/src/auth_api/schemas/membership_type.py
  auth-api/tests/unit/services/test_authorization.py
  auth-web/package-lock.json
  auth-web/package.json
  auth-web/src/components/auth/MemberDataTable.vue
  auth-web/src/components/auth/TeamManagement.vue
  auth-web/src/models/Organization.ts
  auth-web/src/store/modules/user.ts
  auth-web/tests/unit/components/InviteUsersForm.spec.ts
Due: authapi, authweb

Clean Up
  auth-web/src/components/auth/BCSCPanel.vue
  auth-web/src/components/auth/TestimonialQuotes.vue
Due: authweb

Pr Fixes
  auth-web/src/components/auth/BcscPanel.vue
  auth-web/src/components/auth/TestimonialQuotes.vue
  auth-web/src/views/auth/HomeViewDev.vue
  auth-web/src/views/auth/IncorpOrRegisterView.vue
  auth-web/src/views/auth/MaintainBusinessView.vue
Due: authweb

Fixed Bcsc references
  auth-web/src/assets/img/Bcsc-Helper.png
  auth-web/src/components/auth/BcscPanel.vue
  auth-web/src/views/auth/HomeViewDev.vue
Due: authweb

Codecov support and code clean up.
  .github/workflows/auth-api-check.yml
  .github/workflows/auth-web-check.yml
  .github/workflows/notify-api-check.yml
  .github/workflows/notify-queue-check.yml
  .github/workflows/status-api-check.yml
  .github/workflows/status-api-dev.yml
  .github/workflows/status-api-test.yml
  README.md
  auth-api/README.md
  auth-api/setup.cfg
  auth-api/tests/unit/services/test_authorization.py
  auth-web/README.md
  auth-web/jest.config.js
  codecov.yaml
  notify-api/README.md
  notify-api/setup.cfg
  queue_services/notify-queue/README.md
  queue_services/notify-queue/requirements.txt
  queue_services/notify-queue/setup.cfg
  queue_services/notify-queue/tests/conftest.py
  status-api/README.md
  status-api/requirements.txt
  status-api/requirements/repo-libraries.txt
  status-api/setup.cfg
  status-api/tests/unit/api/test_status.py
Due: none

help dialog as a shared component (#719)
  auth-web/src/components/auth/AddBusinessForm.vue
  auth-web/src/components/auth/AddNameRequestForm.vue
  auth-web/src/components/auth/HelpDialog.vue
  auth-web/src/util/common-util.ts
Due: authweb
