Repository bcgov/sbc-auth: changes, and which Codecov flags are due for each by the changed paths.
All: authapi, authweb, statusapi, notifyapi, notifyqueue

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: off
      authapi:
        target: 85%
        flags:
          - authapi
      authweb:
        target: 50%
        flags:
          - authweb
      statusapi:
        target: 85%
        flags:
          - statusapi
      notifyapi:
        target: 85%
        flags:
          - notifyapi
      notifyqueue:
        target: 85%
        flags:
          - notifyqueue
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches:
    - "development"
flags:
  authapi:
    paths:
      - auth-api/src/auth_api
    carryforward: true
  authweb:
    paths:
      - auth-web/src
    carryforward: true
  statusapi:
    paths:
      - status-api/src/status_api
    carryforward: true
  notifyapi:
    paths:
      - notify-api/src/notify-api
    carryforward: true
  notifyqueue:
    paths:
      - queue_services/notify-queue/src
    carryforward: true

3194: Pagination, and status changes
  auth-web/src/components/auth/TransactionsDataTable.vue
  auth-web/src/models/transaction.ts
  auth-web/src/services/payment.services.ts
  auth-web/src/store/modules/org.ts
  auth-web/src/util/constants.ts
Due: authweb

Adding account type in auth response
  auth-api/src/auth_api/services/authorization.py
Due: authapi

#3655 BCSC Info Panel (#724)
  auth-web/src/assets/img/Bcsc-Helper.png
  auth-web/src/assets/img/bc-launch-hero-img-min.jpg
  auth-web/src/assets/img/fpo-hero-image-1076-536.png
  auth-web/src/assets/img/fpo-hero-image-1600x500.png
  auth-web/src/components/auth/BcscPanel.vue
  auth-web/src/components/auth/TestimonialQuotes.vue
  auth-web/src/views/auth/DecideBusinessView.vue
  auth-web/src/views/auth/HomeViewDev.vue
  auth-web/src/views/auth/IncorpOrRegisterView.vue
  auth-web/src/views/auth/MaintainBusinessView.vue
  auth-web/src/views/auth/RequestNameView.vue
Due: authweb

HomeView Tests
  auth-web/src/views/auth/HomeViewDev.vue
  auth-web/tests/unit/views/HomeView.spec.ts
Due: authweb

pr comments and code corrections
  auth-web/src/components/auth/TransactionsDataTable.vue
  auth-web/src/services/payment.services.ts
  auth-web/src/store/modules/org.ts
Due: authweb

Fix for https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/3838
  auth-api/migrations/versions/d34f68927bdf_added_remove_permission_to_user.py
  auth-api/src/auth_api/services/affiliation.py
Due: authapi

Fix for https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/3838
  auth-api/migrations/versions/d34f68927bdf_added_remove_permission_to_user.py
Due: none

3194: Pagination, and status changes (#727)
  auth-web/src/components/auth/TransactionsDataTable.vue
  auth-web/src/models/transaction.ts
  auth-web/src/services/payment.services.ts
  auth-web/src/store/modules/org.ts
  auth-web/src/util/constants.ts
Due: authweb

user should be able to remove business (#729)
  auth-api/migrations/versions/d34f68927bdf_added_remove_permission_to_user.py
  auth-api/src/auth_api/services/affiliation.py
Due: authapi

Adding account type in auth response
  auth-api/src/auth_api/models/org.py
  auth-api/src/auth_api/schemas/org.py
  auth-api/src/auth_api/services/authorization.py
Due: authapi

Unit testing for views/components added
  auth-web/src/components/auth/BcscPanel.vue
  auth-web/tests/unit/components/BcscPanel.spec.ts
  auth-web/tests/unit/views/DecideBusinessView.spec.ts
  auth-web/tests/unit/views/HomeView.spec.ts
  auth-web/tests/unit/views/IncorpOrRegisterView.spec.ts
  auth-web/tests/unit/views/MaintainBusinessView.spec.ts
  auth-web/tests/unit/views/RequestNameView.spec.ts
Due: authweb

transaction filter - inprogress
  auth-web/src/components/auth/Transactions.vue
  auth-web/src/components/auth/TransactionsDataTable.vue
Due: authweb

Fixed i18n mock
  auth-web/src/views/auth/HomeViewDev.vue
  auth-web/tests/unit/views/HomeView.spec.ts
Due: authweb

Fixed Linting
  auth-web/tests/unit/components/BcscPanel.spec.ts
  auth-web/tests/unit/views/DecideBusinessView.spec.ts
  auth-web/tests/unit/views/HomeView.spec.ts
  auth-web/tests/unit/views/IncorpOrRegisterView.spec.ts
  auth-web/tests/unit/views/MaintainBusinessView.spec.ts
  auth-web/tests/unit/views/RequestNameView.spec.ts
Due: none

Pr Fixes
  auth-web/tests/unit/views/IncorpOrRegisterView.spec.ts
  auth-web/tests/unit/views/RequestNameView.spec.ts
Due: none

Update codecov configuration.
  auth-web/README.md
  codecov.yaml
Due: none

Pr Updates
  auth-web/tests/unit/components/BcscPanel.spec.ts
  auth-web/tests/unit/views/DecideBusinessView.spec.ts
  auth-web/tests/unit/views/HomeView.spec.ts
  auth-web/tests/unit/views/IncorpOrRegisterView.spec.ts
  auth-web/tests/unit/views/MaintainBusinessView.spec.ts
  auth-web/tests/unit/views/RequestNameView.spec.ts
Due: none

#2994 Launch Page Unit Tests (#733)
  auth-web/src/components/auth/BcscPanel.vue
  auth-web/src/views/auth/HomeViewDev.vue
  auth-web/tests/unit/components/BcscPanel.spec.ts
  auth-web/tests/unit/views/DecideBusinessView.spec.ts
  auth-web/tests/unit/views/HomeView.spec.ts
  auth-web/tests/unit/views/IncorpOrRegisterView.spec.ts
  auth-web/tests/unit/views/MaintainBusinessView.spec.ts
  auth-web/tests/unit/views/RequestNameView.spec.ts
Due: authweb

#3806 : Changes to NR affiliation
  auth-api/requirements.txt
  auth-api/src/auth_api/models/affiliation.py
  auth-api/src/auth_api/services/affiliation.py
  auth-api/tests/unit/api/test_org.py
  auth-api/tests/unit/services/test_affiliation.py
  auth-api/tests/unit/services/test_org.py
  auth-web/src/components/auth/AddNameRequestForm.vue
  auth-web/src/components/auth/AffiliatedEntityList.vue
  auth-web/src/models/business.ts
  auth-web/src/services/business.services.ts
  auth-web/src/store/modules/business.ts
Due: authapi, authweb

Added password reset API
  auth-api/migrations/versions/598dd27fc660_added_reset_password_permission.py
  auth-api/src/auth_api/resources/user.py
  auth-api/src/auth_api/schemas/schemas/anonymous_user.json
  auth-api/src/auth_api/services/user.py
  auth-api/tests/unit/api/test_user.py
  auth-api/tests/unit/services/test_user.py
Due: authapi

front end done
  auth-web/src/components/auth/AddUsersForm.vue
  auth-web/src/components/auth/AnonymousUserManagement.vue
  auth-web/src/components/auth/MemberDataTable.vue
  auth-web/src/components/auth/PasswordReset.vue
  auth-web/src/components/auth/PasswordResetSuccess.vue
  auth-web/src/components/auth/common/PasswordRequirementAlert.vue
  auth-web/src/locales/en.json
  auth-web/src/services/user.services.ts
  auth-web/src/store/modules/org.ts
Due: authweb

Fixed sonar issues
  auth-web/src/components/auth/PasswordReset.vue
  auth-web/src/components/auth/PasswordResetSuccess.vue
Due: authweb

some code impro
  auth-web/src/store/modules/org.ts
Due: authweb

pylint fix
  auth-api/src/auth_api/models/org.py
Due: authapi

flake8 fix
  auth-api/src/auth_api/models/org.py
Due: authapi

date filter - inprogress
  auth-web/src/components/auth/Transactions.vue
  auth-web/src/components/auth/TransactionsDataTable.vue
  auth-web/src/util/common-util.ts
Due: authweb

few tests added
  auth-web/package-lock.json
  auth-web/package.json
  auth-web/src/components/auth/PasswordReset.vue
  auth-web/src/components/auth/common/PasswordRequirementAlert.vue
  auth-web/tests/unit/components/PasswordRequirementAlert.spec.ts
  auth-web/tests/unit/components/PasswordReset.spec.ts
Due: authweb

reverted commit
  auth-web/src/components/auth/PasswordReset.vue
Due: authweb

fix for coordinator able to remove another coordinator
  auth-web/src/components/auth/MemberDataTable.vue
Due: authweb

put the modal dialogs back in
  auth-web/src/components/auth/AnonymousUserManagement.vue
  auth-web/src/components/auth/PasswordReset.vue
Due: authweb

reused the component
  auth-web/src/components/auth/AddUsersSuccess.vue
  auth-web/src/components/auth/AnonymousUserManagement.vue
  auth-web/src/components/auth/PasswordResetSuccess.vue
Due: authweb

fixing tests
  auth-web/tests/unit/components/PasswordReset.spec.ts
Due: none
